RETRO_ARENA_TIMESTEPS=1000000000

RETRO_ARENA_GAME_ID="SuperMarioWorld-Snes-v0"
RETRO_ARENA_SAVESTATE="YoshiIsland2"

RETRO_ARENA_MODEL_DIR=./working/model
RETRO_ARENA_RECORDING_DIR=./working/recording
RETRO_ARENA_ROM_PATH=./roms
