RETRO_SPEEDLAB_TIMESTEPS=1000000
RETRO_SPEEDLAB_NUM_ENVS=2

RETRO_SPEEDLAB_GAME_ID="SuperMarioWorld-Snes-v0"
RETRO_SPEEDLAB_SAVESTATE="YoshiIsland2"

RETRO_SPEEDLAB_MODEL_DIR=./working/model
RETRO_SPEEDLAB_RECORDING_DIR=./working/recording
RETRO_SPEEDLAB_ROM_PATH=./roms

# Get your API key at https://speedlab.datenwissenschaften.com
RETRO_SPEEDLAB_API_KEY="..."
